@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown-btn:hover > .dropdown-content {
  pointer-events: all;
  opacity: 1;
}

.language-item:hover .language-item-dot {
  opacity: 1;
}

.language-item:hover p {
  text-decoration: underline;
  color: #e47911;
}

/* components -> ResultMenuBar -> ResultMenuBar.js */

div#sortListMenu select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

div#sortListMenu select::-ms-expand {
  display: none;
}
